
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/user.cshtml";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('../../Content/User/images/bg-01.jpg'); ">
    <h2 class="ltext-105 cl0 txt-center" style="color:black">
        Giới thiệu
    </h2>
</section>
<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Giới thiệu 
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Cửa hàng sách là nơi mà tri thức và những câu chuyện phiêu lưu được chắp cánh. Bên trong những kệ sách ngay ngắn, hàng ngàn cuốn sách từ nhiều thể loại khác nhau đang chờ đợi những người yêu sách khám phá. Với không gian ấm cúng và thoải mái, cửa hàng sách tạo nên một môi trường lý tưởng cho việc đọc sách và tìm hiểu kiến thức.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Cửa hàng sách của chúng tôi luôn chào đón bạn với không gian ấm áp và phong phú. Sự tận tâm trong việc lựa chọn sách cùng dịch vụ chuyên nghiệp sẽ mang lại cho bạn trải nghiệm mua sắm đáng nhớ. Hãy đến và khám phá những tác phẩm mà bạn yêu thích hoặc tìm kiếm những cuốn sách mới mẻ để làm giàu thêm kiến thức và tâm hồn.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Nếu bạn có bất kỳ câu hỏi nào? vui lòng ghé thăm cửa hàng tại tầng X, số X phố X, X, X  hoặc gọi cho chúng tôi theo số (+1) 12345678.
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="~/Content/User/images/about-02.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Mẫu
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Đoạn văn mẫu
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Hoàng Minh Tuấn - 2001224525
                        </p>

                        <span class="stext-111 cl8">
                            Nguyễn Thị Thanh Hải - 2001221140
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="~/Content/User/images/about-02.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

